.reservasContacto {
    margin: 0% 10%;
    padding: 2%;
    padding-top: 0%;

    background-color: $colorPrincipal;
    border: solid 2px $colorTerciario;
}
.mapa div {
    display: inline-block;
    min-width: 40%;
}

.dondeEncontrarnos{
    font-style: normal;
    font-weight: bold;
    font-size: 300%;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

