#bienvenida {
    color: $colorSecundario; 
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.logoIndex img {
    height: 105px;
}