/* media query tablet*/

@media screen and (max-width: 768px) {
    .burger_button {
        grid-template-columns: 1fr 2fr auto;
        font-size: 10px;
        grid-template-rows: 1fr auto auto;
    }
    #burger_menu:checked ~ .nav {
        display: block !important;
        flex-direction: column;
        z-index: 2;
        width: 100%;
        background-color: #5a3365;
    }

    .nav-item {
        border-bottom: 1px solid white;
    }
    .burger_button i {
        grid-column: 3;
        grid-row: 1;
        color: white;
    }
    .menuPrincipal {
        padding: 0%;
    }
    .menuPrincipal li {
        padding: 5px;
        font-size: 15px;
    }
    .itemEventos img {
        width: 85%;
    }
    body {
        background-size: 300%;
        background-position: center center;
    }
    .portadaNosotros {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .portadaNosotros img {
        width: 80%;
        height: auto;
    }
}
