.menuPrincipal {
    background-color: $colorprincipal;
    height: 105px;
    position: sticky;
    z-index: 1;
    display: block;
    top: 0%;
    padding: 0% 10%;
    ul { @include lista-sin-estilo;
        width: 90%;
        text-align: center;
        li {
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            a {
                text-decoration: none;
                color: white;
                font-family: 'Merriweather', serif;
            }
        }
    }
}
