.portadaNosotros {
    justify-content: center;
    img {
        object-fit: cover;
        max-height: 80vh;
        filter: grayscale(100%);
        transition: all 1.2s;
        &:hover {
            filter: none;
            transform: scale(1, 1);
        }
    }
}
.imgResponsive {
    width: 100%;
    height: auto;
    border-color: $colorSecundario;
    object-fit: cover;
    max-height: 50vh;
}
