@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:ital,wght@1,300&family=Raleway:wght@500;600;700;800&display=swap');
.cardTienda{
    background-color: antiquewhite;
    border: 2px solid #ccc;
    overflow: hidden;
    margin-bottom: 1rem;
    img {
        max-height: 50vh;
        object-fit: cover;
        &:hover {
            transform: scale(1.1);
            transition: 1s;
        }
    }
    
}


.sectionTienda {
    padding: 2% 10%;
}



