.tiendaImagen {
    background-color: antiquewhite;
    img {
        width: 40vw;
        height: 35vh;
        &:hover {
            transform: scale(1.2);
            transition: 1s;
        }
    }
    &--centrada {
        @extend .tiendaImagen;
        grid-column: 1/3;
    }
}

.productosTienda {
    list-style: circle;
    color: $colorSecundario;
    text-align: left;
    font-size: 20px;
    background-color: $colorPrincipal;
    border: solid $colorBordes 2px;
}

.sectionTienda {
    padding: 2% 10%;
}

.gridTienda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
