$colorPrincipal: #f1e9e1;
$colorSecundario: #5A3365;
$colorNegro: black;
$colorTerciario: #ecb678;


/*mapa*/
$redes: (
    facebook: #3a5795,
    twitter: cyan,
);
/*bucle para usar los valores del mapa*/


