@import "menuprincipal";
@import "variables";



.tiendaImagen img {
    width: 40vw;
    height: 35vh;
        & hover{
            transform: scale(1.2);
            transition: 1s;
    }
}

.portadaNosotros {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;}
        img {
        filter: grayscale(100%);
            transition: all 1.5s;
            &:hover{
        filter:none;
            transform: scale(1.1)
        }
}

