body {
    margin: 0px;
    padding: 0%;
    background-color: #eed9c1;
    background-image: url(../imagenes/portada.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
section {
    flex-grow: 1;
}

ul {
    margin: 0px;
    padding: 0px;
}

.menuPrincipal {
    background-color: black;
    height: 105px;
    position: sticky;
    z-index: 1;
    display: block;
    top: 0%;
    padding: 0% 10%;
}
.menuPrincipal ul {
    list-style: none;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    /*align-items: center;  
    justify-content: center;*/
}
.menuPrincipal li a {
    text-decoration: none;
    color: white;
}

.menuPrincipal li {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

#bienvenida {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.subtitulos {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
}
.link {
    text-decoration: underline;
    color: white;
    font-style: italic;
}

.portada {
    background-repeat: no-repeat;
    background-position: top right;
    background-position: center;
    height: 600px;
}
.footer div {
    font-size: large;
}

.footerNosotros {
    position: relative;
}

.portadaNosotros img {
    height: 75vh;
    border-color: black;
}
div {
    text-align: center;
}
section {
    text-align: center;
    font-style: italic;
}
h3 {
    text-align: center;
    text-decoration: solid;
    font-style: italic;
    font-size: large;
}
.parrafoObjetivo {
    font-size: 20px;
}

.productosTienda {
    list-style: circle;
    color: black;
    text-align: left;
    font-size: 20px;
    background-color: #e9d9c8;
    border: solid #ecb678 2px;
}

@keyframes despliegue {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.itemEventos {
    font-size: 30px;
    animation-name: despliegue;
    animation-duration: 2s;
}

.itemEventos img {
    border-top: 35px;

}

.sectionTienda {
    padding: 2% 10%;
}

.reservasContacto {
    margin: 0% 10%;
    padding: 2%;
    padding-top: 0%;

    background-color: #e9d9c8;
    border: solid 2px #ecb678;
}
.mapa div {
    display: inline-block;
    min-width: 40%;
}
.mapa h2 {
    margin-top: 10px;
    border: solid 2px #ecb678;
    background-color: #e9d9c8;
    width: max-content;
    margin: 0 auto;
    margin-top: 2%;
}

.headerIzquierda li :hover {
color: #ecb678;
transition: 0.5s;
}

.headerDerecha li :hover{
    color: #ecb678;
    transition: 0.5s; 
}

/* grid */

.gridMenu {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.logoIndex img {
    height: 105px;
}

.tiendaImagen img {
    width: 40vw;
    height: 35vh;

}

.tiendaImagen img:hover{
    transform: scale(1.2);
    transition: 1s;
}
.gridTienda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.portadaNosotros {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.portadaNosotros div img {
    filter: grayscale(100%);
    transition: all 1.5s;
}
.portadaNosotros div img:hover{
    filter:none;
    transform: scale(1.1)
}

/* media query mobile*/
@media screen and (max-width: 480px) {
    .gridMenu {
        grid-template-columns: 1fr 2fr;
        font-size: 10px;
        grid-template-rows: repeat(2, 1fr);
    }
    .gridMenu .headerIzquierda {
        grid-column: 2;
        grid-row: 1;
    }
    .logoIndex {
        grid-column: 1;
        grid-row: 1/3;
    }
    .logoIndex img {
        height: 100px;
    }
    .headerDerecha {
        grid-column: 2;
        grid-row: 2;
    }
    .menuPrincipal {
        padding: 0%;
    }
    .menuPrincipal li {
        padding: 5px;
        font-size: 15px;
    }
    body {
        background-size: 400%;
        background-position: center center;
    }
    .portada {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .subtitulos {
        display: block;
    }
    .gridTienda {
        gap: auto;
        grid-template-columns: 1fr;
    }
    .tiendaImagen img {
        width: 80vw;
        height: auto;
    }

    .itemEventos h2 {
        font-size: 20px;
    }
    .itemEventos img {
        width: 85%;
    }
    .mapa iframe {
        width: 85%;
        height: 30vh;
    }
    .portadaNosotros {
        grid-template-columns: 1fr;
    }
    .portadaNosotros img {
        width: 85%;
    }
}

/* media query tablet*/

@media screen and (max-width: 1200px) {
    .menuPrincipal {
        padding: 0%;
    }
    .menuPrincipal li {
        padding: 5px;
        font-size: 15px;
    }
    .itemEventos img {
        width: 85%;
    }
    body {
        background-size: 300%;
        background-position: center center;
    }
    .portadaNosotros {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .portadaNosotros img {
        width: 80%;
        height: auto;
    }
}
