@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
/*mapa*/
/*bucle para usar los valores del mapa*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:ital,wght@1,300&family=Raleway:wght@500;600;700;800&display=swap");
.headerIzquierda li :hover {
  color: #ecb678;
  transition: 0.5s; }

.headerDerecha li :hover {
  color: #ecb678;
  transition: 0.5s; }

.gridMenu {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  justify-content: center;
  align-items: center; }

body {
  margin: 0px;
  padding: 0%;
  background-color: #f1e9e1;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh; }

section {
  flex-grow: 1; }

ul {
  margin: 0px;
  padding: 0px; }

footer {
  margin-top: auto;
  width: 100%;
  background-color: #5A3365;
  color: white;
  text-align: center;
  font-size: 100%; }

div {
  text-align: center; }

section {
  text-align: center;
  font-style: italic; }

h3 {
  text-align: center;
  text-decoration: solid;
  font-style: italic;
  font-size: large; }

.menuPrincipal {
  background-color: black;
  height: 105px;
  position: sticky;
  z-index: 1;
  display: block;
  top: 0%;
  padding: 0% 10%; }
  .menuPrincipal ul {
    margin: 0% auto;
    padding: 0%;
    list-style: none;
    width: 90%;
    text-align: center; }
    .menuPrincipal ul li {
      display: inline-block;
      padding: 20px;
      font-size: 20px; }
      .menuPrincipal ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Dancing Script', cursive; }

.subtitulos {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Dancing Script';
  text-align: center; }

.link {
  color: white;
  font-style: italic;
  text-decoration: none;
  font-size: 20px;
  padding-left: 5em; }

.sectionFooter_titulos {
  font-size: 20px;
  color: #ecb678;
  text-align: left;
  padding-left: 3em; }

.portada {
  background-repeat: no-repeat;
  background-position: top right;
  background-position: center; }

.parrafoObjetivo {
  font-size: 20px; }

.btn-violet {
  background-color: #5A3365;
  color: white; }

i {
  font-size: 25px;
  align-items: center; }

.a--facebook:hover {
  color: #3a5795;
  font-style: normal; }

.a--twitter:hover {
  color: cyan;
  font-style: normal; }

#bienvenida {
  color: #5A3365;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-style: normal;
  font-weight: bold;
  font-size: 300%;
  font-family: 'Dancing Script', cursive;
  text-align: center; }

.subtitulos {
  margin-top: 5vh;
  font-size: 30px; }

.logoIndex img {
  height: 105px; }

.nuestrasSelecciones {
  font-family: 'Dancing Script', cursive;
  margin-top: 20vh;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5vh;
  font-size: 50px;
  border-bottom: solid 3px #5A3365; }
  .nuestrasSelecciones_imagenes {
    max-width: 100%;
    max-height: 50vh;
    object-fit: cover; }

.card {
  background-color: transparent;
  border: none; }

.resaltadoLetraCarousel {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.tituloTarjeta {
  font-size: 2em;
  color: #5A3365;
  font-weight: bold; }

.portadaNosotros {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; }
  .portadaNosotros img {
    filter: grayscale(100%);
    transition: all 1.5s; }
    .portadaNosotros img:hover {
      filter: none;
      transform: scale(1.1); }

.portadaNosotros img {
  height: 75vh;
  border-color: #5A3365; }

.cardTienda {
  background-color: antiquewhite;
  border: 2px solid #ccc;
  overflow: hidden;
  margin-bottom: 1rem; }
  .cardTienda img {
    max-height: 50vh;
    object-fit: cover; }
    .cardTienda img:hover {
      transform: scale(1.1);
      transition: 1s; }

.sectionTienda {
  padding: 2% 10%; }

@keyframes despliegue {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.itemEventos {
  font-size: 30px;
  animation-name: despliegue;
  animation-duration: 2s; }
  .itemEventos .itemEventos img {
    border-top: 35px; }

.reservasContacto {
  margin: 0% 10%;
  padding: 2%;
  padding-top: 0%;
  background-color: #f1e9e1;
  border: solid 2px #ecb678; }

.mapa div {
  display: inline-block;
  min-width: 40%; }

.mapa h2 {
  margin-top: 10px;
  border: solid 2px #ecb678;
  background-color: #f1e9e1;
  width: max-content;
  margin: 0 auto;
  margin-top: 2%; }

/* media query mobile*/
@media screen and (max-width: 480px) {
  .gridMenu {
    grid-template-columns: 1fr 2fr;
    font-size: 10px;
    grid-template-rows: repeat(3, 1fr); }
  .gridMenu .headerIzquierda {
    grid-column: 1/3;
    grid-row: 2;
    flex-direction: column; }
  .logoIndex {
    grid-column: 1;
    grid-row: 1; }
  .logoIndex img {
    height: 100px; }
  .headerDerecha {
    grid-column: 1/3;
    grid-row: 3; }
  .menuPrincipal {
    padding: 0%; }
  .menuPrincipal li {
    padding: 5px;
    font-size: 15px; }
  body {
    background-size: 400%;
    background-position: center center; }
  .portada {
    display: flex;
    flex-direction: column;
    align-content: space-around; }
  .subtitulos {
    display: block; }
  .gridTienda {
    gap: auto;
    grid-template-columns: 1fr; }
  .tiendaImagen img {
    width: 80vw;
    height: auto; }
  .itemEventos h2 {
    font-size: 20px; }
  .itemEventos img {
    width: 85%; }
  .mapa iframe {
    width: 85%;
    height: 30vh; }
  .portadaNosotros {
    grid-template-columns: 1fr; }
  .portadaNosotros img {
    width: 85%; }
  .boton-menu {
    grid-column: 2;
    grid-row: 1;
    color: white; }
  .boton-menu i {
    grid-column: 2;
    grid-row: 1;
    color: white; } }

/* media query tablet*/
@media screen and (max-width: 1200px) {
  .menuPrincipal {
    padding: 0%; }
  .menuPrincipal li {
    padding: 5px;
    font-size: 15px; }
  .itemEventos img {
    width: 85%; }
  body {
    background-size: 300%;
    background-position: center center; }
  .portadaNosotros {
    grid-template-columns: 1fr;
    justify-content: center; }
  .portadaNosotros img {
    width: 80%;
    height: auto; } }
