@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
/*mapa*/
/*bucle para usar los valores del mapa*/
.a--facebook {
  color: #3a5795;
  font-style: normal; }

.a--twitter {
  color: cyan;
  font-style: normal; }

.tiendaImagen, .tiendaImagen--centrada {
  background-color: antiquewhite; }
  .tiendaImagen img, .tiendaImagen--centrada img {
    width: 40vw;
    height: 35vh; }
    .tiendaImagen img:hover, .tiendaImagen--centrada img:hover {
      transform: scale(1.2);
      transition: 1s; }
  .tiendaImagen--centrada {
    grid-column: 1/3; }

.menuPrincipal {
  background-color: black;
  height: 105px;
  position: sticky;
  z-index: 1;
  display: block;
  top: 0%;
  padding: 0% 10%; }
  .menuPrincipal ul {
    margin: 0% auto;
    padding: 0%;
    list-style: none;
    width: 90%;
    text-align: center; }
    .menuPrincipal ul li {
      display: inline-block;
      padding: 20px;
      font-size: 20px; }
      .menuPrincipal ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Merriweather', serif; }

.tiendaImagen img, .tiendaImagen--centrada img {
  width: 40vw;
  height: 35vh; }
  .tiendaImagen img hover, .tiendaImagen--centrada img hover {
    transform: scale(1.2);
    transition: 1s; }

.portadaNosotros {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr; }
  .portadaNosotros img {
    filter: grayscale(100%);
    transition: all 1.5s; }
    .portadaNosotros img:hover {
      filter: none;
      transform: scale(1.1); }
